-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Portada', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      /%ul.nav.navbar-nav
      /  = render 'layouts/navigation_links'
      = link_to '1. Descúbrete', page_path('discover'), class: 'navbar-brand'
      = link_to '2. Existe', page_path('exist'), class: 'navbar-brand'
      = link_to '3. Funciona', page_path('work'), class: 'navbar-brand'
      = link_to 'Fondos (ocultar)', funds_path, class: 'navbar-brand'
      = link_to 'Sobre nosotros', page_path('about'), class: 'navbar-brand pull-right'
      = link_to '[t]', 'http://twitter.com/ciudadanoi', class: 'navbar-brand pull-right'
      = link_to '[f]', 'http://facebook.com/ciudadanointeligente', class: 'navbar-brand pull-right'
